@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-UltraThin.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans";
  font-style: normal;
  font-weight: 700 900;
  font-display: swap;
  src: url("/src/file/font/UrbitSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-UltraThin.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Urbit Sans Mono";
  font-style: normal;
  font-weight: 700 900;
  font-display: swap;
  src: url("/src/file/font/UrbitSansMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 100 300;
  font-display: swap;
  src: url("/src/file/font/NotoEmoji-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/src/file/font/NotoEmoji-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/src/file/font/NotoEmoji-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/file/font/NotoEmoji-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 700 900;
  font-display: swap;
  src: url("/src/file/font/NotoEmoji-Bold.woff2") format("woff2");
}
