@import "tailwindcss";
@theme { /* NOTE: https://tailwindcss.com/docs/theme#theme-variable-namespaces */
  --font-sans: "Urbit Sans", "Noto Emoji", sans-serif;
  --font-serif: "Urbit Sans", "Noto Emoji", serif;
  --font-mono: "Urbit Sans Mono", "Noto Emoji", monospace;

  --text-2xs: 0.50rem;
  --text-2xs--line-height: 0.75rem;
  --text-3xs: 0.25rem;
  --text-3xs--line-height: 0.50rem;
}

/* Scrollbar Improvements (courtesy of Tlon) */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-600) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border: solid 2px transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-gray-600);
  border: solid 2px transparent;
  border-radius: 20px;
  background-clip: content-box;
}

/* Numeric Input Improvements (https://stackoverflow.com/a/74494158) */

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  @apply font-bold underline;
}

dialog:open::backdrop {
  @apply bg-transparent bg-white/20;
}

:is(button, input, [type='button'], [type='reset'], [type='submit']) {
  @apply flex items-center justify-center font-bold whitespace-nowrap;
}

:is(button, [type='button'], [type='reset'], [type='submit']):enabled {
  @apply hover:cursor-pointer;
}

.input-sm {
  @apply px-2 py-0.5;
}
.input-lg {
  @apply px-4 py-1.5;
}

.input-nice {
  @apply border border-white text-white;
}
.input-mean {
  @apply border border-red-500 text-red-500;
}

.input-nice::placeholder {
  @apply text-gray-600;
}
.input-mean::placeholder {
  @apply text-red-900;
}

:is(button, [type='button'], [type='reset'], [type='submit']).input-lg {
  @apply rounded-3xl;
}

.input-nice:user-invalid {
  @apply border-red-500;
}
.input-mean:user-invalid {
  @apply border-red-900;
}

.input-nice:disabled {
  @apply bg-gray-600;
}
.input-nice:disabled svg {
  @apply bg-gray-600;
}
.input-mean:disabled {
  @apply bg-red-900;
}
.input-mean:disabled svg {
  @apply bg-red-900;
}

.main {
  @apply flex flex-col gap-4 pt-4 pb-8 px-4 justify-center items-center;
}

.head {
  @apply flex justify-center items-center px-4.5 py-3.5 border border-gray-600 text-xl bg-white text-black rounded-2xl;
}

.flex-col-sm {
  @apply flex flex-col gap-2;
}
.flex-col-lg {
  @apply flex flex-col gap-4;
}
